// .header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 1rem;
//     background-color: #222;
//     color: white;
//   }
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;

  //background-color: #0041b3;  // Dark Blue
 // color: white;

  //button.mat-icon-button {
   // color: white; // icon color
  //}
}

.app-title {
  margin-left: 12px;
}

.spacer {
  flex: 1 1 auto;
}
